workflows/c03/n8n_node_demo.json
{
  "name": "n8n node demo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d54ecd34-f5c1-40a5-9a8d-66052f747813",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a372ad1-ce65-41e8-b8ce-7b4c8d8a6054",
              "name": "number",
              "value": "={{ Array.from({ length: 10 }, (_) => Math.floor(Math.random() * 100)) }}",
              "type": "array"
            },
            {
              "id": "f2b405ea-9241-432d-adc2-3d4718d46d00",
              "name": "field1",
              "value": "test",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "a4a2ccd7-d7d1-421d-8408-41f371996802",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "number",
        "include": "selectedOtherFields",
        "fieldsToInclude": "field1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "0c11cd4c-8d10-4279-a7a4-f624d095630f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70bc3c09-782e-4c92-9acc-bd377e6fdf93",
              "leftValue": "={{ $json.number }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "06349f5f-f8e7-464e-9c42-3df19861f9df",
      "name": "If number < 50"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        900,
        0
      ],
      "id": "6669bc84-0e3a-4261-a417-bd9722a1bd2f",
      "name": "Merge"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        0
      ],
      "id": "069b82a9-b8bb-4ff7-8884-8e4818f36c02",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "nubmer",
              "value": "={{ $json.number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        120
      ],
      "id": "f01990c6-0cc4-42b1-854b-2a103e296a8e",
      "name": "HTTP Request",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If number < 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If number < 50": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84ce0860-4f60-45b4-a58d-e76464e6f890",
  "meta": {
    "instanceId": "e503f7c3d190fbe1708ff8f5f0fb5eea84f12e45bbc30706bb7a6b25938597b3"
  },
  "id": "eg4asYpBnPOIGuff",
  "tags": []
}